.sort-option {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 10px;
  cursor: pointer;
  user-select: none;
}
.sort-text {
  font-weight: 500;
}
.sort-img {
  margin-left: 5px;
  width: 10px;
  align-items: center;
  display: flex;
}
.sort-img img {
  width: 10px;
  align-self: center;
}
.inverse {
  transform: rotate(180deg);
}
.hiden {
  display: none;
}
