<div class="main-parent">
  <app-email-options></app-email-options>
  <div class="search-email">
    <app-search-email></app-search-email>
  </div>
  <div class="results">
    <div *ngIf="hasMails()">
      <app-sort-email></app-sort-email>
      <div *ngFor="let email of getEmails()">
        <app-email-display [email]="email"></app-email-display>
      </div>
    </div>
    <div *ngIf="!hasMails()" class="logo">
      <img src="assets/img/logo.png" alt="logo" class="logoImg" />
    </div>
  </div>
</div>
