<div>
  <button (click)="load()">Downlad</button>
  <div>
    <img src="assets/img/logo.png" alt="logp" />
    <img src="assets/sgv/icon_arrow01.svg" alt="img" class="img" />
    <img src="assets/sgv/icon_arrow02.svg" alt="img" class="img" />
    <img src="assets/sgv/icon_calender.svg" alt="img" class="img" />
    <img src="assets/sgv/icon_clip.svg" alt="img" class="img" />
    <img src="assets/sgv/icon_mail_sp.svg" alt="img" class="img" />
    <img src="assets/sgv/icon_search.svg" alt="img" class="img" />
  </div>

  <div *ngFor="let email of emails">
    <app-email-display [email]="email"></app-email-display>
  </div>
</div>
