<div class="sort-parent">
  <div class="sort-options">
    <app-sort-email-option
      class="sort-from"
      [option]="getOption(0)"
    ></app-sort-email-option>
    <div class="space"></div>
    <app-sort-email-option
      class="sort-to"
      [option]="getOption(1)"
    ></app-sort-email-option>
    <div class="space"></div>
    <app-sort-email-option
      class="sort-subject"
      [option]="getOption(2)"
    ></app-sort-email-option>
    <div class="space"></div>
    <app-sort-email-option
      class="sort-date"
      [option]="getOption(3)"
    ></app-sort-email-option>
  </div>
</div>
