<div class="sort-parent">
  <div class="sort-options">
    <app-sort-email-option
      class="sort-from"
      text="From"
    ></app-sort-email-option>
    <div class="space"></div>
    <app-sort-email-option class="sort-to" text="To"></app-sort-email-option>
    <div class="space"></div>
    <app-sort-email-option
      class="sort-subject"
      text="Subject"
    ></app-sort-email-option>
    <div class="space"></div>
    <app-sort-email-option
      class="sort-date"
      text="Date"
    ></app-sort-email-option>
  </div>
</div>
