.two-text-parent {
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--edges);
  border-radius: 15px 0 0 15px;
  margin-bottom: 5px;
}
.first-text {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 5px;
  width: 50px;
  border-radius: 15px 0 0 15px;
  background-color: rgb(128, 128, 128);
  color: #fff;
  text-align: center;
}
.first-text p {
  padding-top: 0px;
  margin-top: 0px;
}
.second-text {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 5px;
  margin-bottom: 5px;
  flex: 2;
  margin-right: 10px;
  padding-left: 10px;
}
