.main-display {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row wrap;
  background-color: #faebd7;
  border-bottom: 1px #cccccc solid;
  justify-items: start;
}
.sender {
  width: 15%;
}
.destination-obj {
  padding-left: 10px;
  width: 20%;
}
.extra {
  background-color: rgb(134, 151, 155);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 30px;
}
.subject {
  width: 50%;
}
.date {
  width: 13%;
  height: 100%;
}
.text-display {
  word-wrap: break-word;
  font-weight: 500;
}
.mail-icon {
  display: none;
}
.mail-icon img {
  height: 100%;
  width: 100%;
}
.main-display:hover .text-display {
  color: blue;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .text-display {
    font-size: 0.9em;
  }
  .date {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 640px) {
  .main-display {
    display: block;
    position: relative;
    margin-left: 10px;
    height: 110px;
  }
  .mail-icon {
    display: block;
    position: relative;
    width: 4%;
    height: 35px;
    top: 20%;
    left: 1%;
  }
  .sender {
    position: absolute;
    left: 6%;
    width: 65%;
    height: 20%;
    top: 5%;
  }
  .destination-obj {
    position: absolute;
    top: 25%;
    height: 20%;
    left: 6%;
    width: 90%;
    padding-left: 0px;
    font-weight: 100;
  }
  .subject {
    position: absolute;
    top: 50%;
    width: 96%;
    font-size: 1em;
  }
  .date {
    position: absolute;
    top: 0px;
    right: 4%;
    width: 25%;
    height: 20%;
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 360px) {
  .main-display {
    font-size: 0.8em;
  }
}
